In [1]:
# Importing Required libraries and modules:

import pandas as pd

In [2]:
# importing intial data:

DF = pd.read_csv("C:/Users/Yash/Downloads/twitter_tweets.csv")

In [3]:
DF.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [4]:
DF.shape

(74681, 4)

In [5]:
# Renaming the columns to provide proper Names:

DF.rename(columns = {"im getting on borderlands and i will murder you all ,":"Message", "Positive":"Ratings"}, inplace = True)

In [6]:
# Picking up only relevant columns of the intial Dataframe as new dataframe for further operations:

df = DF[["Ratings", "Message"]]

In [7]:
# Checking and replacing the values in Ratings columns to integers based on their Intensity:

df["Ratings"].unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [8]:
df["Ratings"] = df["Ratings"].replace(['Positive', 'Neutral', 'Negative', 'Irrelevant'],[3,2,1,0])

C:\Users\Yash\AppData\Local\Temp\ipykernel_5064\3965401395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Ratings"] = df["Ratings"].replace(['Positive', 'Neutral', 'Negative', 'Irrelevant'],[3,2,1,0])

In [9]:
# Checking for and dropping the null values:

df.isnull().sum()

Ratings      0
Message    686
dtype: int64

In [10]:
df.dropna(inplace = True)

C:\Users\Yash\AppData\Local\Temp\ipykernel_5064\1791587065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [11]:
df.isnull().sum()

Ratings    0
Message    0
dtype: int64

In [12]:
# Dropping off the duplicate rows:

df.drop_duplicates(inplace = True)

C:\Users\Yash\AppData\Local\Temp\ipykernel_5064\1850284697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace = True)

In [13]:
# Exporting the Cleaned data as CSV to use it further for Sentimental Analysis:

df.to_csv('TTSAP_Final_Data.csv')